//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 26 17:41:08 2020
//! **************************************************************************

SCHEMATIC START;
COMP "Blue<1>" LOCATE = SITE "P96" LEVEL 1;
COMP "Blue<2>" LOCATE = SITE "P98" LEVEL 1;
COMP "PWM_OUT1" LOCATE = SITE "P10" LEVEL 1;
COMP "PWM_OUT2" LOCATE = SITE "P11" LEVEL 1;
COMP "PWM_OUT3" LOCATE = SITE "P7" LEVEL 1;
COMP "PWM_OUT4" LOCATE = SITE "P141" LEVEL 1;
COMP "PWM_OUT5" LOCATE = SITE "P143" LEVEL 1;
COMP "PWM_OUT6" LOCATE = SITE "P138" LEVEL 1;
COMP "PWM_OUT7" LOCATE = SITE "P19" LEVEL 1;
COMP "PWM_OUT8" LOCATE = SITE "P21" LEVEL 1;
COMP "PWM_OUT9" LOCATE = SITE "P18" LEVEL 1;
COMP "PWM_OUT10" LOCATE = SITE "P30" LEVEL 1;
COMP "PWM_OUT11" LOCATE = SITE "P27" LEVEL 1;
COMP "PWM_OUT12" LOCATE = SITE "P29" LEVEL 1;
COMP "Green<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "Green<1>" LOCATE = SITE "P101" LEVEL 1;
COMP "Green<2>" LOCATE = SITE "P102" LEVEL 1;
COMP "HSync" LOCATE = SITE "P93" LEVEL 1;
COMP "VSync" LOCATE = SITE "P92" LEVEL 1;
COMP "reset" LOCATE = SITE "P80" LEVEL 1;
COMP "rx_in" LOCATE = SITE "P31" LEVEL 1;
COMP "Red<0>" LOCATE = SITE "P103" LEVEL 1;
COMP "Red<1>" LOCATE = SITE "P104" LEVEL 1;
COMP "Red<2>" LOCATE = SITE "P105" LEVEL 1;
COMP "clk_12" LOCATE = SITE "P129" LEVEL 1;
NET "clock_25_1/CLKIN_IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

