//! **************************************************************************
// Written by: Map P.20131013 on Tue Aug 25 22:54:26 2020
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "led" LOCATE = SITE "P46" LEVEL 1;
COMP "Clk" LOCATE = SITE "P129" LEVEL 1;
COMP "b" LOCATE = SITE "P80" LEVEL 1;
NET "Clk_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

