//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 26 12:45:49 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P129" LEVEL 1;
COMP "echo" LOCATE = SITE "P32" LEVEL 1;
COMP "Enable<0>" LOCATE = SITE "P120" LEVEL 1;
COMP "Enable<1>" LOCATE = SITE "P121" LEVEL 1;
COMP "Enable<2>" LOCATE = SITE "P124" LEVEL 1;
COMP "distancia<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "distancia<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "distancia<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "distancia<3>" LOCATE = SITE "P49" LEVEL 1;
COMP "distancia<4>" LOCATE = SITE "P50" LEVEL 1;
COMP "distancia<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "distancia<6>" LOCATE = SITE "P54" LEVEL 1;
COMP "distancia<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "trigger" LOCATE = SITE "P31" LEVEL 1;
COMP "Display<0>" LOCATE = SITE "P114" LEVEL 1;
COMP "Display<1>" LOCATE = SITE "P110" LEVEL 1;
COMP "Display<2>" LOCATE = SITE "P111" LEVEL 1;
COMP "Display<3>" LOCATE = SITE "P112" LEVEL 1;
COMP "Display<4>" LOCATE = SITE "P113" LEVEL 1;
COMP "Display<5>" LOCATE = SITE "P115" LEVEL 1;
COMP "Display<6>" LOCATE = SITE "P116" LEVEL 1;
COMP "Display<7>" LOCATE = SITE "P117" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

