//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 05 19:39:40 2020
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "data<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "data<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "data<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "data<3>" LOCATE = SITE "P49" LEVEL 1;
COMP "data<4>" LOCATE = SITE "P50" LEVEL 1;
COMP "clk_12" LOCATE = SITE "P129" LEVEL 1;
COMP "data<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "data<6>" LOCATE = SITE "P54" LEVEL 1;
COMP "data<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "sw1" LOCATE = SITE "P80" LEVEL 1;
COMP "sw2" LOCATE = SITE "P79" LEVEL 1;
COMP "bytes<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "bytes<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "bytes<2>" LOCATE = SITE "P60" LEVEL 1;
COMP "bytes<3>" LOCATE = SITE "P63" LEVEL 1;
COMP "bytes<4>" LOCATE = SITE "P64" LEVEL 1;
COMP "bytes<5>" LOCATE = SITE "P68" LEVEL 1;
COMP "bytes<6>" LOCATE = SITE "P69" LEVEL 1;
COMP "bytes<7>" LOCATE = SITE "P70" LEVEL 1;
NET "clk_12_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

